<!DOCTYPE html>
<html>
<head>
    <title>Playing with Paper</title>
    
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="paper/dist/paper-full.min.js"></script>
    
    <script type="text/javascript" src="lodash/lodash.min.js"></script>
    <script type="text/paperscript" canvas="canvas1" src="alien_blaster.js"></script>
    <script type="text/paperscript" canvas="canvas2" src="ball_bounce.js"></script>
    <script type="text/paperscript" canvas="canvas3" src="chain.js"></script>
    
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"/> -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <canvas id="canvas1" resize width="700" height="500" style="border: 1px solid black"></canvas>
    <canvas id="canvas2" resize width="700" height="500" style="border: 1px solid black"></canvas>
    <canvas id="canvas3" resize width="700" height="500" style="border: 1px solid black"></canvas>
</body>
</html>