<!DOCTYPE html>
<html>
<head>
    <title>Playing with Paper</title>
    
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="paper/dist/paper-full.min.js"></script>
    
    <script type="text/paperscript" canvas="myCanvas" src="index.js"></script>
    
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"/> -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <canvas id="myCanvas" resize width="500" height="500"></canvas>
</body>
</html>